###############################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/Finanza.API/bin
/src/Finanza.API/obj
/src/Finanza.Application/bin
/src/Finanza.Application/obj
/src/Finanza.CrossCutting/bin
/src/Finanza.CrossCutting/obj
/src/Finanza.Domain/bin
/src/Finanza.Domain/obj
/src/Finanza.Infrastructure/bin
/src/Finanza.Infrastructure/obj
/src/Finanza.Infrastructure/financeiro.db
/src/Finanza.Infrastructure/Financeiro.db-shm
/src/Finanza.Infrastructure/Financeiro.db-wal
/tests/Finanza.Application.Tests/bin
/tests/Finanza.Application.Tests/obj
/tests/Finanza.Domain.Tests/bin
/tests/Finanza.Domain.Tests/obj
/tests/Finanza.Infrastructure.Tests/bin
/tests/Finanza.Infrastructure.Tests/obj
/tests/Finanza.API.Tests/bin/Debug/net8.0
/tests/Finanza.API.Tests/obj
/finanza-client/.angular/cache/18.2.21/finanza-client
/finanza-client/dist/finanza-client
/finanza-client/node_modules
/src/Finanza.Client/.angular/cache/18.2.21/finanza-client
/src/Finanza.Client/dist/finanza-client
/src/Finanza.Client/dist/finanza-client/browser/media/material-icons-latin-400-normal-LEZCGFVT.woff2
/src/Finanza.Client/node_modules
/src/Finanza.Client/obj/Debug
/src/Finanza.Infrastructure/Tenants
/.claude
/src/Finanza.Client/obj/Release
/tests/Finanza.API.Tests/bin/Release/net8.0
