.dash-tabs {
  margin-bottom: 24px;

  .tab-icon {
    font-size: 18px;
    width: 18px;
    height: 18px;
    margin-right: 6px;
    vertical-align: middle;
  }

  .tab-label {
    vertical-align: middle;
  }
}
